* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
 height: 100%;
 margin: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #536b78;
  background-color: #e0eefc;  
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;   
  margin: 0 auto;  
 }

/* Footer & Navbar */
.navbar, .footer {
  background-color: #536b78;  
  padding: 1rem;
  text-align: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a, .footer a {
  color: #b2d8fc;  
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a:hover, 
.footer a:hover {
  text-decoration: underline;
  color: #accbe1; 
}

/* Main Content */
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #b2d8fc;  
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.icon-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;

.name {
  font-size: 2.5rem;
  text-align: center;
  color: #536b78;
}

.about-content h1, 
.resume-content h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #536b78;  
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
  color: #536b78;  
}

/* Profile Image */
.profile-photo {
  display: block;
  margin: 20px auto;
  width: 200px;  
  border-radius: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Buttons & Links */
.download-link {
  text-decoration: none;
  background-color: #7c98b3;  
  color: #e0eefc;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

.download-link:hover {
  background-color: #536b78;  
}

/* Contact Form */
.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #7c98b3;
  border-radius: 5px;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #536b78;
}

.input-group input[type="text"],
.input-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #b2d8fc;
  border-radius: 4px;
  background-color: #e0eefc;
}

.contact-form input[type="submit"] {
  background-color: #accbe1;
  color: #536b78;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.contact-form input[type="submit"]:hover {
  background-color: #536b78;
  color: #e0eefc;
}

.footer {
  width: 100%;
  margin-top: auto;  
  background-color: #536b78;
  padding: 1rem;
  text-align: center;
  color: #b2d8fc;
}
